<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <title>About</title>
  </head>
  <body>
    <div class="hide-wrapper h100 bg-black">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <div class="side-bar">
              <div class="logo">
                <img src="./../assets/images/logo.png" alt="" />
              </div>
              <div class="inner">
                <div class="menu-wrapper">
                  <a href="">
                    <img src="./../assets/images/mhome.png" alt="" /> Home</a
                  >
                  <a href="./about.html" class="active">
                    <img src="./../assets/images/mabout.png" alt="" /> About</a
                  >
                  <a href="./help.html">
                    <img src="./../assets/images/mhelp.png" alt="" /> Help</a
                  >
                  <a href="./hide-data.html">
                    <img src="./../assets/images/meye.png" alt="" /> Hide
                    Data</a
                  >
                  <a href="./extract-data.html">
                    <img src="./../assets/images/mfolder.png" alt="" /> Extract
                    Data</a
                  >
                  <a href="./profile.html">
                    <img src="./../assets/images/mprofile.png" alt="" />
                    Profile</a
                  >
                  <a href="">
                    <img src="./../assets/images/mupload.png" alt="" />
                    Upgrade</a
                  >
                  <a href="./password-manager.html">
                    <img src="./../assets/images/mlock.png" alt="" /> Password
                    Manager</a
                  >
                </div>
                <a href="javascript:void(0)" onclick="logout()" class="logout">
                  <img src="./../assets/images/logout.png" alt="" />Logout
                </a>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="right-container">
              <div class="top-data light-dark mb-16">About</div>
              <div class="light-dark border-12">
                <div class="about-wrapper">
                  <div class="title">Welcome to StegSec!</div>
                  <div class="body-text color-white mb-24">
                    This application offers two core functionalities
                  </div>
                  <div class="flex-title">
                    <img src="./../assets/images/aboutview.png" alt="" />
                    <span>Hide Data</span>
                  </div>
                  <ul class="list_items">
                    <li>
                      1. Select the file you wish to hide (txt, doc, doc, xisx,
                      xls, pptx, ppt, pdf).
                    </li>
                    <li>
                      2. Choose a cover file (Image, Audio, Video) to conceal
                      the data.
                    </li>
                    <li>
                      3. Choose an output directory and file name for the new
                      file
                    </li>
                    <li>
                      4. Enter the password you wish to use to secure the data.
                    </li>
                    <li>
                      5. The Steg Operation and output file extension are
                      automatically defined based on selection.
                    </li>
                    <li>6. Click the "Hide" button to begin.</li>
                  </ul>
                  <div class="flex-title">
                    <img src="./../assets/images/extract.png" alt="" />
                    <span>Extract Data</span>
                  </div>
                  <ul class="list_items">
                    <li>
                      1. Select the multimedia file from which you want to
                      extract data.
                    </li>
                    <li>
                      2. Manually choose the operation type for extraction.
                    </li>
                    <li>
                      3. Choose an output directory and file name for the
                      extracted data.
                    </li>
                    <li>
                      4. The output file extension are automatically defined
                      based on selection.
                    </li>
                    <li>5. Enter the password you used to secure the data.</li>
                    <li>6. Click the "Extract" button to begin.</li>
                  </ul>
                  <div class="flex-title">
                    <img src="./../assets/images/support.png" alt="" />
                    <span>Supported File Formats</span>
                  </div>
                  <ul class="list_items">
                    <li>
                      . Cover Files: png, jpg (Images), mp3, wav (Audio), mp4,
                      avi, mkv (Video)
                    </li>
                    <li>
                      . Files to Hide: txt (Text), doc, doc (Word), xisx, xIs
                      (Excel), pptx, ppt (PowerPoint), pdf (PDF)
                    </li>
                  </ul>
                  <div class="flex-title">
                    <img src="./../assets/images/note.png" alt="" />
                    <span>Note</span>
                  </div>
                  <ul class="list_items">
                    <li>
                      . For PDF files, the data may get corrupted. It's advised
                      to use multimedia files that are at least 10 times larger
                      than the PDF file you are hiding?
                    </li>
                    <li>
                      . Additional Note, You can stop the operation at any time
                      by clicking the "Stop" button.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./../assets/js/bootstrap.js"></script>
    <script src="./../renderer.js"></script>
  </body>
</html>
