<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <title>Extract data</title>
  </head>
  <body>
    <!-- Complete Modal  -->
    <div class="modal fade" id="done-modal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dark modal-dialog-centered">
        <div class="modal-content">
          <div class="close" data-bs-dismiss="modal">
            <img src="./../assets/images/close.png" alt="" />
          </div>

          <div class="modal-body">
            <div class="subtitle">Done</div>
            <div class="done-logo">
              <img src="./../assets/images/done.png" alt="" />
            </div>
            <div class="title-medium text-center">Process Complete</div>
            <div class="body-text text-center color-white mb-32">
              Your file has been extracted <br />
              successfully
            </div>

            <button class="button-main w-100 mb-24">Open FIle</button>
            <button class="button-main w-100 mb-24">Show FIle Folder</button>
          </div>
        </div>
      </div>
    </div>
    <div class="hide-wrapper h100 bg-black">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <div class="side-bar">
              <div class="logo">
                <img src="./../assets/images/logo.png" alt="" />
              </div>
              <div class="inner">
                <div class="menu-wrapper">
                  <a href="">
                    <img src="./../assets/images/mhome.png" alt="" /> Home</a
                  >
                  <a href="./about.html">
                    <img src="./../assets/images/mabout.png" alt="" /> About</a
                  >
                  <a href="./help.html">
                    <img src="./../assets/images/mhelp.png" alt="" /> Help</a
                  >
                  <a href="./hide-data.html">
                    <img src="./../assets/images/meye.png" alt="" /> Hide
                    Data</a
                  >
                  <a href="./extract-data.html" class="active">
                    <img src="./../assets/images/mfolder.png" alt="" /> Extract
                    Data</a
                  >
                  <a href="./profile.html">
                    <img src="./../assets/images/mprofile.png" alt="" />
                    Profile</a
                  >
                  <a href="">
                    <img src="./../assets/images/mupload.png" alt="" />
                    Upgrade</a
                  >
                  <a href="./password-manager.html">
                    <img src="./../assets/images/mlock.png" alt="" /> Password
                    Manager</a
                  >
                </div>
                <a class="logout">
                  <img src="./../assets/images/logout.png" alt="" />Logout
                </a>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="right-container">
              <div class="top-data light-dark mb-16">Extract Data</div>
              <div class="light-dark content-center border-12">
                <div class="max-480 inner-data py-5">
                  <div class="logo">
                    <img src="./../assets/images/logo.png" alt="" />
                  </div>
                  <div class="title-small text-center">Pro</div>

                  <div class="title-small text-center">Select File</div>
                  <div class="body-text color-white text-center mb-32">
                    Select file you want to extract from
                  </div>
                  <div class="file-wrapper mb-16">
                    <input name="file" type="file" />
                    <img src="./../assets/images/file.png" alt="" />
                    <div class="body-text text-center">Select File</div>
                  </div>
                  <label class="mb-8" for="">Password</label>
                  <div class="input-wrapper mb-16">
                    <input
                      type="text"
                      class="input no-logo"
                      placeholder="Enter password here"
                    />
                  </div>
                  <label class="mb-8" for="">The of Operation</label>
                  <div class="input-wrapper mb-48">
                    <select name="" id="" class="input no-logo">
                      <option value="">Select</option>

                      <option value="Extract text file from image">
                        Extract text file from image
                      </option>
                      <option value="Extract PDF file from image">
                        Extract PDF file from image
                      </option>
                      <option value="Extract Excel file from image">
                        Extract Excel file from image
                      </option>
                      <option value="Extract word file from image">
                        Extract word file from image
                      </option>
                      <option value="Extract powerpoint from image">
                        Extract powerpoint from image
                      </option>
                    </select>
                  </div>
                  <button
                    class="button-main w-100"
                    data-bs-toggle="modal"
                    data-bs-target="#done-modal"
                  >
                    Extract
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./../assets/js/bootstrap.js"></script>
  </body>
</html>
