<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="" />
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <title>Help</title>
  </head>
  <body>
    <div class="hide-wrapper h100 bg-black">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <div class="side-bar">
              <div class="logo">
                <img src="./../assets/images/logo.png" alt="" />
              </div>
              <div class="inner">
                <div class="menu-wrapper">
                  <a href="">
                    <img src="./../assets/images/mhome.png" alt="" /> Home</a
                  >
                  <a href="./about.html">
                    <img src="./../assets/images/mabout.png" alt="" /> About</a
                  >
                  <a href="./help.html" class="active">
                    <img src="./../assets/images/mhelp.png" alt="" /> Help</a
                  >
                  <a href="./hide-data.html">
                    <img src="./../assets/images/meye.png" alt="" /> Hide
                    Data</a
                  >
                  <a href="./extract-data.html">
                    <img src="./../assets/images/mfolder.png" alt="" /> Extract
                    Data</a
                  >
                  <a href="./profile.html">
                    <img src="./../assets/images/mprofile.png" alt="" />
                    Profile</a
                  >
                  <a href="">
                    <img src="./../assets/images/mupload.png" alt="" />
                    Upgrade</a
                  >
                  <a href="./password-manager.html">
                    <img src="./../assets/images/mlock.png" alt="" /> Password
                    Manager</a
                  >
                </div>
                <a href="javascript:void(0)" onclick="logout()" class="logout">
                  <img src="./../assets/images/logout.png" alt="" />Logout
                </a>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="right-container">
              <div class="top-data light-dark mb-16">Help</div>
              <div class="light-dark border-12">
                <div class="about-wrapper">
                  <div class="title">Welcome to StegSec!</div>
                  <div class="body-text color-white mb-24">
                    Our application is designed to provide secure and efficient
                    ways to hide and extract data within multimedia files.
                  </div>
                  <div class="flex-title">
                    <img src="./../assets/images/freev.png" alt="" />
                    <span>Free Version Features</span>
                  </div>
                  <ul class="list_items">
                    <li>
                      1. Default Image Covers:Hide data using a selection of
                      default images provided by the application.
                    </li>
                    <li>
                      2. Extraction Capabilities:** Extract data from the
                      default cover images.
                    </li>
                  </ul>
                  <div class="flex-title">
                    <img src="./../assets/images/prov.png" alt="" />
                    <span>Pro Version Advantages</span>
                  </div>
                  <ul class="list_items mb-48">
                    <li>
                      1. Custom Cover Selection: Choose your own cover files for
                      data hiding.
                    </li>
                    <li>
                      2 Versatile Hiding Options: Hide data in a variety of
                      supported file formats and cover types
                    </li>
                    <li>
                      3. Comprehensive Extraction: Extract data from any
                      supported cover file format.
                    </li>
                    <li>
                      4. AI-Generated Cover Images: Generate custom cover images
                      using our AI model
                    </li>
                  </ul>

                  <div class="title-small-light mb-12">
                    To upgrade to the Pro Version, click the "Upgrade" button in
                    the top right corner of the application.
                  </div>
                  <div class="title-small-light mb-32">
                    And login with your account or create a new account if you
                    don't have one.
                  </div>
                  <div class="title-small-light mb-16">
                    For assistance or more information, feel free to contact us
                  </div>
                  <div class="buttons">
                    <a href="mailto:info@stegsec.com"
                      ><img src="./../assets/images/em.png" alt="" />
                      info@stegsec.com</a
                    >
                    <a href=""
                      ><img src="./../assets/images/web.png" alt="" />
                      www.stegsec.com</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./../assets/js/bootstrap.js"></script>
    <script src="./../renderer.js"></script>
  </body>
</html>
