<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
     -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Hide data</title>
</head>
<body>

  <!-- Ai hide modal  -->
  <div class="modal fade" id="ai-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dark modal-dialog-centered">
      <div class="modal-content">
        <div class="close" data-bs-dismiss="modal">
          <img src="assets/images/close.png" alt="">
        </div>
        
        <div class="modal-body">
          <div class="subtitle">
            Hide Using AI
          </div>
          
          
          
          <label class="mb-8" for="">Image Description</label>
          <div class="input-wrapper mb-16">
             <img src="assets/images/ok.png" class="abs">
            <input type="text" class="input no-logo" placeholder="Enter image description here">
          </div>
          <label class="mb-8" for="">Cant Imagine a Description? Select one</label>
          <div class="input-wrapper mb-16">
           <select name="" id="" class="input no-logo">
            <option value="">Select a prompt</option>
            <option value="A View of a city Skyline">A View of a city Skyline</option>
            <option value="A View of the Beach">A View of the Beach</option>
            <option value="A View from the Snowy Mountains">A View from the Snowy Mountains</option>
            <option value="A Beautiful Sunrise ">A Beautiful Sunrise </option>
            <option value="A Beautiful Sunset">A Beautiful Sunset</option>
           </select>
           
          </div>
          <label class="mb-8" for="">Password</label>
          <div class="input-wrapper mb-16">
            <img src="assets/images/ok.png" class="abs">
            <input type="text" class="input no-logo" placeholder="Enter password here">
          </div>
        
          <button class="button-main w-100 mb-24">
            Hide
          </button>
          <div class="modal-loader">
            <div class="loading"></div>
            <span>Please Wait</span>
          </div>
        
         
          
        </div>
       
      </div>
    </div>
  </div>
  <!-- Own Media modal  -->
  <div class="modal fade" id="media-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dark modal-dialog-centered">
      <div class="modal-content">
        <div class="close" data-bs-dismiss="modal">
          <img src="assets/images/close.png" alt="">
        </div>
        
        <div class="modal-body">
          <div class="subtitle">
            Use Own Media
          </div>
          
          <div class="title17 color-white mb4">
            Select Cover File
          </div>
          <div class="body-text-small mb-8 color-white">
            Select file you want to be cover of hidden file
          </div>
          <div class="file-wrapper mb-12">
           <input type="file">
           <img src="assets/images/upload.png" alt="">
           <div class="body-text text-center">
            Upload File here
           </div>
          </div>
          
        
          <label class="mb-8" for="">The Steg Operation</label>
          <div class="input-wrapper mb-16">
           <select name="" id="" class="input no-logo">
            <option value="">Select option</option>
            <option value="Hide Data in Image">Hide Data in Image</option>
            
           </select>
           
          </div>
          <label class="mb-8" for="">Password</label>
          <div class="input-wrapper mb-16">
            
            <input type="text" class="input no-logo" placeholder="Enter password here">
          </div>
        
          <button class="button-main w-100 mb-24">
            Hide
          </button>
          
        
         
          
        </div>
       
      </div>
    </div>
  </div>

  <!-- Complete Modal  -->
  <div class="modal fade" id="done-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog modal-dark modal-dialog-centered">
      <div class="modal-content">
        <div class="close" data-bs-dismiss="modal">
          <img src="assets/images/close.png" alt="">
        </div>
        
        <div class="modal-body">
          <div class="subtitle">
           Done
          </div>
          <div class="done-logo">
            <img src="assets/images/done.png" alt="">
          </div>
          <div class="title-medium text-center">
            Process Complete
          </div>
          <div class="body-text text-center color-white mb-32">
            Your file has been hidden <br> successfully
          </div>
          
        
          <button class="button-main w-100 mb-24">
           Open FIle
          </button>
          <button class="button-main w-100 mb-24">
            Show FIle Folder
           </button>
          
        
         
          
        </div>
       
      </div>
    </div>
  </div>
    <div class="hide-wrapper h100 bg-black">
     
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <div class="side-bar">
              <div class="logo">
                <img src="assets/images/logo.png" alt="">
              </div>
              <div class="inner">
                <div class="menu-wrapper">
                  <a href=""> <img src="assets/images/mhome.png" alt=""> Home</a>
                  <a href=""> <img src="assets/images/mabout.png" alt=""> About</a>
                  <a href=""> <img src="assets/images/mhelp.png" alt=""> Help</a>
                  <a href="" class="active"> <img src="assets/images/meye.png" alt=""> Hide Data</a>
                  <a href=""> <img src="assets/images/mfolder.png" alt=""> Extract Data</a>
                  <a href=""> <img src="assets/images/mprofile.png" alt=""> Profile</a>
                  <a href=""> <img src="assets/images/mupload.png" alt=""> Upgrade</a>
                  <a href=""> <img src="assets/images/mlock.png" alt=""> Password Manager</a>
                </div>
               <a class="logout">
                <img src="assets/images/logout.png" alt="">Logout
               </a>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="right-container">
              <div class="top-data light-dark mb-16">Hide Data</div>
              <div class="light-dark content-center border-12">
                <div class="max-480 inner-data py-5">
                   <div class="logo">
                    <img src="assets/images/logo.png" alt="">
                   </div>
                   <div class="title-small text-center">
                    Pro
                   </div>
                   <div class="body-text color-white text-center mb-32">
                    Please select how do you want to hide <br> your data
                   </div>
                   <div class="title-small text-center">
                    Select File
                   </div>
                   <div class="body-text color-white text-center mb-8">
                    Select file you want to hide 
                   </div>
                   <div class="file-wrapper mb-16">
                    <input type="file">
                    <img src="assets/images/file.png" alt="">
                    <div class="body-text text-center">
                     Select File
                    </div>
                   </div>
                   <div class="title-small text-center mb-16">
                    Hide Using
                   </div>
                   <div class="selection-items mb-48">
                    <div class="item">
                      <button class="own-media-button mb-8" data-bs-toggle="modal" data-bs-target="#media-modal">
                        <img src="assets/images/omb.png" alt="">
                      </button>
                      <div class="body-text text-center px-4 color-white">
                        Use Own Media (Image Audio Video)
                      </div>
                    </div>
                    <div class="item">
                      <button class="ai-button mb-8" data-bs-toggle="modal" data-bs-target="#ai-modal">
                        <img src="assets/images/ai.png" alt="">
                      </button>
                      <div class="body-text text-center px-4 color-white">
                        Use an AI generated image file
                      </div>
                    </div>
                   </div>
                   <button class="button-main w-100" data-bs-toggle="modal" data-bs-target="#done-modal">
                    Start
                   </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    
    </div>
    
    <script src="js/bootstrap.js"></script>
</body>
</html>