<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <title>Password Manager</title>
  </head>
  <body>
    <div class="hide-wrapper h100 bg-black">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <div class="side-bar">
              <div class="logo">
                <img src="./../assets/images/logo.png" alt="" />
              </div>
              <div class="inner">
                <div class="menu-wrapper">
                  <a href="">
                    <img src="./../assets/images/mhome.png" alt="" /> Home</a
                  >
                  <a href="./about.html">
                    <img src="./../assets/images/mabout.png" alt="" /> About</a
                  >
                  <a href="./help.html">
                    <img src="./../assets/images/mhelp.png" alt="" /> Help</a
                  >
                  <a href="./hide-data.html">
                    <img src="./../assets/images/meye.png" alt="" /> Hide
                    Data</a
                  >
                  <a href="./extract-data.html">
                    <img src="./../assets/images/mfolder.png" alt="" /> Extract
                    Data</a
                  >
                  <a href="./profile.html">
                    <img src="./../assets/images/mprofile.png" alt="" />
                    Profile</a
                  >
                  <a href="">
                    <img src="./../assets/images/mupload.png" alt="" />
                    Upgrade</a
                  >
                  <a href="" class="active">
                    <img src="./../assets/images/mlock.png" alt="" /> Password
                    Manager</a
                  >
                </div>
                <a href="javascript:void(0)" onclick="logout()" class="logout">
                  <img src="./../assets/images/logout.png" alt="" />Logout
                </a>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="right-container">
              <div class="top-data light-dark mb-16">Password Manager</div>
              <div class="light-dark content-center border-12">
                <div class="max-480 inner-data py-5">
                  <div class="logo">
                    <img src="./../assets/images/logo.png" alt="" />
                  </div>
                  <div class="title-small text-center">Passphrase</div>

                  <div class="body-text color-white text-center mb-32">
                    You will be able to manage your password history using a
                    passphrase in the future. The passphrase is the answer to
                    the question you will choose
                  </div>
                  <label class="mb-8" for="">Choose a Question</label>
                  <div class="input-wrapper mb-16">
                    <select name="" id="" class="input no-logo">
                      <option value="">Select</option>

                      <option value="What is your mother’s maiden name?">
                        What is your mother’s maiden name?
                      </option>
                      <option value="What is your father’s middle name?">
                        What is your father’s middle name?
                      </option>
                      <option value="What is the name of your first pet?">
                        What is the name of your first pet?
                      </option>
                      <option value="What is the name of your first school?">
                        What is the name of your first school?
                      </option>
                      <option value="What is your favorite teacher’s name?">
                        What is your favorite teacher’s name?
                      </option>
                      <option value="WWhat is your favorite movie?">
                        WWhat is your favorite movie?
                      </option>
                    </select>
                  </div>
                  <label class="mb-8" for="">Answer</label>
                  <div class="input-wrapper mb-24">
                    <input
                      type="text"
                      class="input no-logo"
                      placeholder="Answer here"
                    />
                  </div>

                  <button class="button-main w-100">Save Passphrase</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./../assets/js/bootstrap.js"></script>
    <script src="./../renderer.js"></script>
    <script src="./../renderer/auth.js"></script>
  </body>
</html>
