<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="" />
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <div class="hide-wrapper profile-wrapper h100 bg-black">
      <div class="container-fluid">
        <div class="row">
          <div class="col-2">
            <div class="side-bar">
              <div class="logo">
                <img src="./../assets/images/logo.png" alt="" />
              </div>
              <div class="inner">
                <div class="menu-wrapper">
                  <a href="">
                    <img src="./../assets/images/mhome.png" alt="" /> Home</a
                  >
                  <a href="./about.html">
                    <img src="./../assets/images/mabout.png" alt="" /> About</a
                  >
                  <a href="./help.html">
                    <img src="./../assets/images/mhelp.png" alt="" /> Help</a
                  >
                  <a href="./hide-data.html">
                    <img src="./../assets/images/meye.png" alt="" /> Hide
                    Data</a
                  >
                  <a href="./extract-data.html">
                    <img src="./../assets/images/mfolder.png" alt="" /> Extract
                    Data</a
                  >
                  <a href="./profile.html" class="active">
                    <img src="./../assets/images/mprofile.png" alt="" />
                    Profile</a
                  >
                  <a href="">
                    <img src="./../assets/images/mupload.png" alt="" />
                    Upgrade</a
                  >
                  <a href="./password-manager.html">
                    <img src="./../assets/images/mlock.png" alt="" /> Password
                    Manager</a
                  >
                </div>
                <a href="javascript:void(0)" onclick="logout()" class="logout">
                  <img src="./../assets/images/logout.png" alt="" />Logout
                </a>
              </div>
            </div>
          </div>
          <div class="col-10">
            <div class="right-container">
              <div class="top-data light-dark mb-16">Profile</div>

              <div class="row">
                <div class="col-6">
                  <div class="light-dark content-center border-12">
                    <div class="max-480 inner-data py-4">
                      <form id="profileForm" method="POST">
                        <div class="title-20 text-center mb-16">
                          Edit Profile Details
                        </div>
                        <div class="logo mb-32">
                          <img src="./../assets/images/priceb.png" alt="" />
                        </div>

                        <label for="fname" class="mb-8" for=""
                          >First Name</label
                        >
                        <div class="input-wrapper mb-16">
                          <input
                            type="text"
                            name="fname"
                            id="fname"
                            class="input no-logo"
                            placeholder="John"
                          />
                        </div>

                        <label for="lname" class="mb-8" for="">Last Name</label>
                        <div class="input-wrapper mb-16">
                          <input
                            type="text"
                            name="lname"
                            id="lname"
                            class="input no-logo"
                            placeholder="Doe"
                          />
                        </div>
                        <label for="email" class="mb-8" for="">Email</label>
                        <div class="input-wrapper mb-24">
                          <input
                            type="email"
                            name="email"
                            id="email"
                            class="input no-logo"
                            placeholder="Jhone@gmail.com"
                          />
                        </div>

                        <label for="mobile_phone" class="mb-8" for=""
                          >Phone</label
                        >
                        <div class="input-wrapper mb-24">
                          <input
                            type="tel"
                            name="mobile_phone"
                            id="mobile_phone"
                            class="input no-logo"
                            placeholder=""
                          />
                        </div>
                        <button class="button-main w-100" type="submit">
                          Update
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="light-dark px-4 border-12">
                    <div class="inner-data py-4">
                      <div class="title-20 mb-8">My Subscription</div>
                      <div class="inner-info">
                        <img
                          src="./../assets/images/arrr.png"
                          alt=""
                          class="arrow"
                        />
                        <div class="price mb-0">$34.99</div>
                        <div class="sub_title mb-16">per month</div>
                        <div class="bottom">
                          <div>
                            <div class="count">32</div>
                            <div class="text">AI generated images left</div>
                          </div>
                          <div class="button-main">Get More</div>
                        </div>
                      </div>
                      <div class="detail-info">
                        <div class="item">
                          <div class="title-20 mb-0 color-white">
                            StegSec Pro
                          </div>
                          <div class="text">Plan</div>
                        </div>
                        <div class="item">
                          <div class="title-20 mb-0 color-white">
                            2024-05-09
                          </div>
                          <div class="text">Start Date</div>
                        </div>
                        <div class="item">
                          <div class="title-20 mb-0 color-white">
                            2024-05-10
                          </div>
                          <div class="text">End Date</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="modal fade"
          id="messageModal"
          tabindex="-1"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dark modal-dialog-centered">
            <div class="modal-content">
              <div class="close" data-bs-dismiss="modal">
                <img src="./../assets/images/close.png" alt="" />
              </div>

              <div class="modal-body">
                <div class="subtitle">Done</div>
                <div class="done-logo">
                  <img src="./../assets/images/done.png" alt="" />
                </div>
                <div class="title-medium text-center">Process Complete</div>
                <div class="body-text text-center color-white mb-32">
                  Profile Updated Successfully
                </div>

                <button class="button-main w-100 mb-24">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./../assets/js/bootstrap.js"></script>
    <script src="./../renderer.js"></script>
    <script src="./../renderer/profile.js"></script>
  </body>
</html>
