<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <title>Welcome</title>
  </head>
  <body>
    <div class="welcome-wrapper h100 bg-black content-center">
      <a href="./login.html">
        <img src="./../assets/images/logo.png" alt="" class="logo" />
      </a>
    </div>

    <script src="./../assets/js/bootstrap.min.js"></script>
    <script>
      window.setTimeout(function () {
        window.location.href = "./login.html";
      }, 2000);
    </script>
  </body>
</html>
