<div class="modal fade" id="messageModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dark modal-dialog-centered">
    <div class="modal-content">
      <div class="close" data-bs-dismiss="modal">
        <img src="./../../assets/images/close.png" alt="" />
      </div>

      <div class="modal-body">
        <div class="subtitle">Done</div>
        <div class="done-logo">
          <img src="./../../assets/images/done.png" alt="" />
        </div>
        <div class="title-medium text-center">Process Complete</div>
        <div class="body-text text-center color-white mb-32">
          Your file has been extracted <br />
          successfully
        </div>

        <button class="button-main w-100 mb-24">Open FIle</button>
        <button class="button-main w-100 mb-24">Show FIle Folder</button>
      </div>
    </div>
  </div>
</div>
